header {
    width: 100%;
    margin-top: 100px;
}

header .left {
    margin-top: 100px;
    text-align: left;
}

header .left h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 95px;
    color: rgba(24, 29, 25, 1);
}
@media(max-width: 992px){
    header .img img{
        width: 100%;
    }
    header .left h1{
        font-size: 30px;
        line-height: 40px;
    }
}